@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shippori+Mincho&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
p {
  font-family: var(--font);
}

:root {
  --shippori-mincho: Shippori Mincho, "serif";
  --inter: 'Inter", sans-serif';
  --white: white;
  --black: black;
  --primary: rgb(8, 38, 0);
  --lightPrimary: rgb(41, 99, 25);
  --s: 36rem;
  --m: 48rem;
}

html {
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}
.hoverUnderline:hover {
  text-decoration: underline;
}

/* this containers code */
@media only screen and (min-width: 38rem) {
  .container {
    width: 33.75rem;
  }
}
@media only screen and (min-width: 48rem) {
  .container {
    width: 45rem;
  }
}

@media only screen and (min-width: 62rem) {
  .container {
    width: 60rem;
  }
}

@media only screen and (min-width: 75rem) {
  .container {
    width: 74rem;
  }
}

@media only screen and (min-width: 87.5rem) {
  .container {
    width: 82.5rem;
  }
}
/* this containers code ended */

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.active {
  background-color: #c6b519 !important;
}
.white {
  color: white !important;
}

.button {
  display: block;
  background-color: rgb(8, 38, 0);
  color: white;
  border: none;
  outline: none;
  height: 3.3rem;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background-color: #c6b519;
}

.header {
  padding-top: 3.3rem;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.header .nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.3rem;
  background-color: var(--primary);
  box-shadow: 0 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  z-index: 9999999;
}

.header .nav .logo img {
  width: 7rem;
}

.header .nav .navLinks a.hoverUnderline {
  margin-right: 1.5rem;
}
.header .nav .navLinks a.hoverUnderline:hover {
  color: #c6b519;
}
.header .nav .navLinks a.hoverUnderline {
  color: white;
  font-weight: bold;
}
.header .nav .navLinks {
  display: none;
}
.header .nav .hamburger {
  display: block;
  color: white;
}
.header .mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: 0.3s;
}

.header .activeMobileMenu {
  padding-top: 3.3rem;
  background-color: rgb(8, 38, 0);
  transition: 0.3s;
  transform: translate(0);
}
.menuAnimation {
  transform: translate(0);
}
.toggleIcon {
  display: none;
}
.menuList {
  margin-top: 1rem;
}
.menuList li {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
  background-color: rgb(8, 38, 0);
}

.menu__icons {
  color: white;
  padding: 0 15px;
}

/* nav responsive */

@media only screen and (min-width: 48rem) {
  .header .nav .navLinks a.hoverUnderline {
    margin-right: 0.5rem;
    font-weight: 300;
  }
  .header .nav .navLinks {
    display: flex;
  }
  .header .nav .hamburger {
    display: none;
  }
  .button {
    padding: 1rem 1rem;
    cursor: pointer;
  }
  .header .nav {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* nav styles ended */

/* hero styles started */
.hero .heroContent {
  margin-top: 55vh;
}
.hero .heroDescr,
.heroTitle {
  color: white;
  font-family: var(--shippori-mincho);
  font-weight: 400;
}
.hero .heroDescr {
  font-size: 1.5rem;
}

.hero .heroTitle {
  font-size: 2.5rem;
}

@media only screen and (min-width: 36rem) {
  .hero .heroDescr {
    font-size: 1.5rem;
  }
  .hero .heroTitle {
    font-size: 2.7rem;
  }
}
@media only screen and (min-width: 48rem) {
  .hero .heroDescr {
    font-size: 1.5rem;
  }
  .hero .heroTitle {
    font-size: 2.7rem;
  }
}

@media only screen and (min-width: 62rem) {
  .hero .heroDescr {
    font-size: 2.7rem;
  }
  .hero .heroTitle {
    font-size: 3.7rem;
  }
}

@media only screen and (min-width: 87.5rem) {
  .hero .heroDescr,
  .heroTitle {
    font-size: 60px;
  }
}
/* hero ended */

/* main started -- slider*/
.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #ececec;
  padding: 2rem 0;
  display: none;
}
ctf_right_content .marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}

.marquee-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.marquee-item {
  width: 11.2rem;
  background-color: #010101;
  color: white;
  display: inline-block;
  padding: 0.4rem;
  font-size: 1.5rem;
  text-align: center;
}
.marquee-item p {
  font-weight: 700;
  font-size: 12px;
}

@media only screen and (min-width: 48rem) {
  .marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #ececec;
    padding: 2rem 0;
    display: block;
  }
  .marquee {
    animation: marquee 20s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* slider ended */

/* ctfGroup started */
.ctfGroup {
  padding-top: 2rem;
  flex-direction: column;
  text-align: center;
}
.ctfGroup .br {
  display: none;
}

.ctfGroup .ctf_content img {
  width: 12rem;
}

.ctfGroup .ctf_content .ctf_content__descr {
  transform: translateX(-5rem);
  z-index: -1;
}

.ctfGroup .ctfGroupRightContent .ctf_right_content {
  display: none;
}

.ctf-rgt-cnt-c {
  font-family: var(--shippori-mincho);
  font-weight: 800;
  margin-bottom: 1rem;
}

.ctf_right_mobile_content {
  display: block;
}

.ctfGroup .ctf_content .ctf_content__descr p {
  white-space: nowrap;
  font-size: 1.4rem;
  z-index: -9;
}
ctf_right_content .ctf_right_title {
  font-size: 2rem;
}

.viewMoreBtn {
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid black;
  background-color: transparent;
  cursor: pointer;
}

.ctfGroup .ctf_content .ctf_mobile_img {
  display: block;
}

.ctfGroup .ctf_content .ctf_img {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .ctfGroup {
    flex-direction: row;
    text-align: start;
  }

  .ctfGroup .ctf_content .ctf_mobile_img {
    display: none;
  }

  .ctfGroup .ctf_content .ctf_img {
    display: block;
  }
  .ctfGroup .ctf_content .ctf_content__descr {
    transform: translateX(-3rem);
  }
  .ctfGroup .ctf_content .ctf_content__descr p {
    font-size: 2rem;
  }
  .ctfGroup .br {
    display: block;
  }
  .ctfGroup .ctfGroupRightContent .ctf_right_content {
    display: block;
  }

  .ctf_right_mobile_content {
    display: none;
  }
}

/* this style belongs to service */
.main .service {
  margin-top: 1rem;
  background: #ececec;
  padding-top: 2.5rem;
  position: relative;
}

.groupRightSchemaImg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
}

.main .service .busennsTitle {
  color: #c6b519;
  text-align: center;
  font-size: 0.8rem;
}

.main .service .ServiceTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.main .service .serviceDesc {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* cards */
.main .service .cards {
  flex-wrap: wrap;
  justify-content: center;
}

.main .service .cards .card {
  width: 22rem;
}

.main .service .cards .card .cardDescrBox {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 2.5rem 2.5rem,
    var(--lightPrimary) 0%,
    var(--primary) 100%
  );
  color: var(--white);
  margin: 0;
  text-align: center;
  font-family: var(--shippori-mincho);
  padding: 1rem;
  transform: translateY(-2.5rem);
}

.main .service .cards .card .cardDescrBox .cardDescription {
  transform: translateY(-1rem);
}

.main .service .cards .card .cardDescrBox .cardDescription .descrTitle_Jpn {
  font-family: var(--shippori-mincho);
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.main .service .cards .card .cardDescrBox .cardDescription .descrTitle_En {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.main .service .cards .card .cardDescrBox .cardDescription .descrDescr {
  display: none;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
.main .service .cards .card .cardDescrBox .cardDescription .descrDescrMobile {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.main .service .cards .card .cardImg {
  width: 100%;
}

.main .service .cards .card .underImg {
  flex-direction: column;
  text-align: start;
  transform: translate(-1rem, -3.3rem);
  width: 22rem;
}

.main .service .cards .card .underImg .cardNumber {
  width: fit-content;
  background-color: var(--black);
  color: var(--white);
  padding: 0.3rem;
}

.main .service .cards .card .underImg .cardTitile {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem;
}
.viewMoreBtnService {
  color: white;
  font-weight: 400 !important;
  border-color: white;
  float: right;
}
.serviceCount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: var(--black);
  font-weight: 900 !important;
}

@media only screen and (min-width: 48rem) {
  .groupRightSchemaImg {
    display: block;
  }

  .main .service .cards {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .main .service .cards .card .cardDescrBox {
    position: relative;
    background-image: radial-gradient(
      farthest-corner at 2.5rem 2.5rem,
      var(--lightPrimary) 0%,
      var(--primary) 100%
    );
    color: var(--white);
    margin: 0 1rem;
    text-align: center;
    font-family: var(--shippori-mincho);
    padding: 1rem;
    transform: translateY(-2rem);
  }

  .main .service .cards .card .underImg {
    display: flex;
    flex-direction: row;
    text-align: center;
    transform: translate(-2rem, -1.8rem);
    width: 18rem;
    background-color: var(--black);
  }

  .serviceCount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: var(--white);
    font-weight: 500 !important;
  }

  .main .service .cards .card .underImg .cardNumber {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem;
  }

  .main .service .cards .card .cardDescrBox .cardDescription .descrDescr {
    display: block;
  }
  .main .service .cards .card .cardDescrBox .cardDescription .descrDescrMobile {
    display: none;
  }
}

/* this is a study pages styles */
.CaseStudy {
  padding: 1rem 0;
}

.CaseStudy .logoTitle {
  color: #c6b519;
  text-align: center;
}
.CaseStudy .CaseStudyTitle {
  font-size: 2.7rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.CaseStudy .CaseStudyCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
}

.CaseStudy .CaseStudyCard {
  margin: auto;
  width: 22rem;
}

.CaseStudy .CaseStudyCard .img {
  width: 100%;
}

.CaseStudy .CaseStudyCard .imgTitle {
  font-family: var(--shippori-mincho);
  font-weight: bold;
  font-size: 1.5rem;
}

.CaseStudy .CaseStudyCard .imgTitle {
  font-family: var(--shippori-mincho);
  font-weight: bold;
  font-size: 1.5rem;
}

.CaseStudy .CaseStudyCard .imgDesc {
  font-family: var(--shippori-mincho);
  font-weight: 700;
  font-size: 1rem;
}

.CaseStudy .CaseStudyCard .studyCardSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.CaseStudy .CaseStudyCard .studyCardSelect button {
  font-family: var(--shippori-mincho);
  font-weight: 500;
  padding: 0.2rem 0.3rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
.CaseStudyBtn {
  display: block;
  margin: 2rem auto;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
}

/* this is a members styles */
.member {
  background-color: var(--primary);
  padding: 3rem 0 2rem;
}

.member .memberTitle,
.memberEnTitle {
  font-family: var(--shippori-mincho);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5rem;
  color: var(--white);
  text-align: center;
}

.member .memberEnTitle {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.member .memberSlider .memberSlideArrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 19rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 9;
}

.member .memberSlider .memberSlideArrow:active i {
  font-size: 18px;
}

.member .memberSlider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#memberSlideLeftArrow {
  left: 0;
}

#memberSlideRightArrow {
  right: 0;
}

.member .memberSlider .memberSlideArrow i {
  font-size: 24px;
  color: var(--white);
}

.member .memberSlider .memberSlideContent {
  display: flex;
  justify-content: space-between;
  min-width: 74rem;
  height: 19rem;
  overflow: hidden;
}

.member .memberSlider .memberSlideContent .slideContent__item {
  overflow: hidden;
  width: 212px;
  height: 100%;
  transition: 0.5s;
}

.member
  .memberSlider
  .memberSlideContent
  .slideContent__item
  .slider__itemDescr {
  color: var(--white);
  font-family: var(--shippori-mincho);
}

.sliderIcons-comedFromJs {
  font-size: 55px !important;
}

.member .memberSlider .memberSlideContent .slideContent__item .sliderItem_img {
  width: 100%;
  height: 14rem;
}

.member
  .memberSlider
  .memberSlideContent
  .slideContent__item
  .sliderItem_img
  img {
  width: auto;
  height: 100%;
}

/* news styles */
.news {
  padding: 2rem 0;
  font-family: var(--shippori-mincho);
}
.news .memberTitle,
.memberEnTitle {
  font-family: var(--shippori-mincho);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5rem;
  color: var(--black);
  text-align: center;
}

.news .memberEnTitle {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.news .newsContent .news__item {
  border-bottom: 0.1rem solid var(--black);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.news .newsContent .news__item .newsDateBox {
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.news .newsContent .news__item .newsDateBox .dataDescr {
  padding: 0.3rem 0.5rem;
  background-color: var(--primary);
  color: var(--white);
}

.news .newsContent .news__item .newsDateBox .data {
  font-weight: 600;
}

.news .newsContent .news__item .newsDesc {
  font-weight: 700;
}

/* contact styles */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .recruit {
  position: relative;
  height: 16rem;
  width: 100%;
  background-image: url(../images/contact1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}

.contact .recruit::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 132, 255, 0.4);
}

.contact .contact_ {
  position: relative;
  height: 16rem;
  width: 100%;
  background-image: url(../images/contact2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  padding: 5rem;
}

.contact .contact_::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(208, 255, 0, 0.4);
}

.contact .contactDetails {
  position: absolute;
  top: 25%;
  left: 25%;
  color: var(--white);
  z-index: 9;
}
.contact .contactDetail2 {
  position: absolute;
  top: 35%;
  left: 25%;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 9;
}

@media only screen and (min-width: 38rem) {
  .contact {
    flex-direction: row;
  }
  .contact .recruit {
    width: 50%;
  }
  .contact .contact_ {
    width: 50%;
  }
}
